.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

.left__navbar{
  display: flex;
  align-items: center;
}

.navbar__style{
  display: flex;
  justify-content: space-between;
}

.right__navbar{
  display: flex; 
  justify-content: center;
}
.demo-section{
  display: flex;
  align-items: center;
}