.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .example-container {
    height: 100%;

  }

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
}

.example-container {
    height: 100vh;
  }
  
  .example-sidenav {
    width: 250px;
    background-color: white;
  }
  
  ::ng-deep .mat-list-item.active {
    background-color: rgba(0, 0, 0, 0.1);
  }