<mat-sidenav-container class="example-container">
    <mat-sidenav class="example-sidenav" mode="side" opened>
      <mat-nav-list>
        <h3 mat-subheader>Home</h3>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p mat-line> Dashboard </p>
        </a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active">
          <mat-icon mat-list-icon>business</mat-icon>
          <p mat-line> Customers </p>
        </a>
        <h3 mat-subheader>Home</h3>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p mat-line> Dashboard </p>
        </a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active">
          <mat-icon mat-list-icon>business</mat-icon>
          <p mat-line> Customers </p>
        </a>
        <h3 mat-subheader>Home</h3>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p mat-line> Dashboard </p>
        </a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active">
          <mat-icon mat-list-icon>business</mat-icon>
          <p mat-line> Customers </p>
        </a>
        <!-- Additional items here -->
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Main content goes here -->
    </mat-sidenav-content>
  </mat-sidenav-container>