
  
    <mat-sidenav-container class="example-container">

        <mat-sidenav-content >
          
          <mat-nav-list>
              <h3 mat-subheader>Home</h3>
      
              <a mat-list-item style="display:flex" routerLinkActive="active">
                <mat-icon mat-list-icon>
                  dashboard
                </mat-icon>
                <p mat-line> Dashboard </p>
              </a>
      
              <a mat-list-item routerLinkActive="active">
                <mat-icon mat-list-icon>
                  business
                </mat-icon>
                <p mat-line> Customers </p>
              </a>
              <a mat-list-item routerLinkActive="active">
                <mat-icon mat-list-icon>
                  people
                </mat-icon>
                <p mat-line> Users </p>
              </a>
      
              <a mat-list-item >
                <mat-icon mat-list-icon>person</mat-icon>
                <p mat-line> Account </p>
              </a>
      
              <a mat-list-item >
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <p mat-line> Log out </p>
              </a>
      
              <mat-divider></mat-divider>
      
              <h3 mat-subheader>Resources</h3>
      
              <a mat-list-item  routerLinkActive="active">
                <mat-icon mat-list-icon>
                  toll
                </mat-icon>
                <p mat-line> Icons </p>
              </a>
              <a mat-list-item routerLinkActive="active">
                <mat-icon mat-list-icon>
                  font_download
                </mat-icon>
                <p mat-line> Typography </p>
              </a>
      
              <a mat-list-item href="https://material.angular.io/components/categories" target="_blank">
                <mat-icon mat-list-icon>
                  link
                </mat-icon>
                <p mat-line> Material Components </p>
              </a>
      
              <a id="push-bottom" mat-list-item  routerLinkActive="active">
                <mat-icon mat-list-icon>
                  info_outline
                </mat-icon>
                <p mat-line> About </p>
              </a>
            </mat-nav-list>
        
        </mat-sidenav-content>
  
      </mat-sidenav-container>
    
  
  